



.list-container{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.pizza-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-self:center;
}




.footer {
  display:flex;
  flex-direction:column;
  gap: 10px;
  justify-content:center;
  align-items:center;

}
.order{
  display:flex;
  flex-direction:column;
  gap: 10px;
  justify-content:center;
  align-items:center;
  margin-top:30px;
}

.btn {
  background-color: yellow;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius:5px;
}
