


.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size: 2rem;
  

}

input,
select {
  padding: 5px;
  font-size: 2rem;
  margin: 20px;

}

.reset-btn{
  padding:10px 20px;
  margin: 20px;
  align-self:center;
  border-radius: 10px;
}
